.root {

    -fx-background-color: #383838;
    -fx-font-size: 11pt;
}

.button {

    -fx-background-color: #8a2be2;
}

.menu-bar {

    -fx-background-color: #959595;
}

.menu-item {

    -fx-background-color: #9e9e9e;
}